<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Live Cam</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>


<main>
    <div class="nav">
        <div class="menu">
            <!-- reload get thumbnail -->
            <img class="website-text-logo" src="{% static 'img/snapshot.jpg' %}"/>
        </div>
    </div>
    <div class="content">
        <video id="video" autoplay controls="controls" width="100%" height="100%"></video>
    </div>
</main>


<script>
        if (Hls.isSupported()) {
          var video1 = document.getElementById('video');
          var hls1 = new Hls();
          // bind them together
          hls1.attachMedia(video1);
          hls1.on(Hls.Events.MEDIA_ATTACHED, function () {
            console.log("video and hls.js are now bound together !");
            // load variable from views.py
            hls1.loadSource("{{stream_path}}");
            hls1.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
              console.log("manifest loaded, found " + data.levels.length + " quality level");
            });
          });
        }

</script>
</body>
</html>